* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 60px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.left {
  width: 33%;
}
.center {
  width: 33%;
}
.right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

#navbar::before {
  content: "";
  background-color: #231d37;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#logo {
  margin: 8px 3px;
}

#logo p {
  width: fit-content;
  color: #9de0e7;
  font-size: 2.3rem;
  padding: 0px 15px;
  font-family: "Lugrasimo", cursive;
  margin-right: 10px;
  border: 3px outset #7aa29f;
}

#navbar ul {
  display: flex;
  font-family: "Rubik", sans-serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 10px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #849d88;
  transform: scale(1.05);
  transition-duration: 175ms;
  background-color: #231d37;
}

#navbar ul li a:active {
  color: #849d88;
  text-decoration: underline;
}

#navbar button {
  display: inline-block;
  background-color: silver;
  border: none;
  color: #263c3d;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin: 2px 9px;
  border-radius: 21px;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}

/* #navbar btn1:hover{
    background-color: aliceblue;
    color: #9bb17aeb;
    font-size: 25px;
  } */

#navbar button:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  background-color: aliceblue;
  color: #9bb17aeb;
  /* font-size: 25px; */
}

#seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
  /* margin-top: 45px; ; */
  /* position: relative; */
}

#seller::before {
  content: "";
  position: fixed;
  background: url("/5665273_57788.jpg") no-repeat center center/cover;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  opacity: 0.9;
  background-attachment: fixed;
}

#seller h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Lumanosimo", cursive;
  color: #010c09;
}

.list {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* z-index: -5; */
  padding: 5px;
  border-radius: 9px;
  margin: 55px 10px;
  height: 60vh;
  width: 80%;
}

.search-bar {
  display: flex;
}
.list input {
  display: flex;
  border: 1px ridge #259daf;
  width: 60vb;
  height: 30px;
  border-radius: 8px;
  padding: 2px 3px;
  margin: 2px 5px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.05rem;
}

.list img {
  width: 28px;
  height: 25px;
  /* background:rgba(255, 255, 255, 0.6); */
}
.list button {
  /* display: flex; */
  /* width: 10vb; */
  /* font-size: 1.2rem; */
  padding: 6px 3px;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  color: #849d88;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
  background-color: #978cbb;
  /* text-decoration: none; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  transition: ease-in;
}

.list button:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
  background-color: #85aacb;
  /* color: #b4b9aceb; */
}

.modify {
  display: flex;
}

.modify button {
  display: flex;
  width: 25vb;
  font-size: 1.1rem;
  margin: auto auto;
  padding: 10px 8px;
  color: #849d88;
  border: 1px ridge #010c09;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  background-color: #85aacb;
}

.modify button h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  color: #010c09;
  /* align-items: center;
  justify-content: center; */
}

.add {
  width: 50%;
}
.edit {
  width: 50%;
}
#seller-details {
  display: flex;
  flex-direction: column;
}

#seller-details h3 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  color: #010c09;
}

.seller-info {
  display: flex;
  flex-direction: column;
}

.modify button:hover {
  transform: translateY(5px);
  transition-duration: 300ms;
  background-color: aliceblue;
  color: #9bb17aeb;
}

footer {
  display: flex;
  width: 100%;
  position: relative;
  bottom: -2.8rem;
  font-size: 1.3rem;
  justify-content: center;
}

footer::before {
  content: "";
  background-color: silver;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  height: 25px;
}

.head {
  display: flex;
  background-color: whitesmoke;
  padding: 7px 0px;
  margin: 7px 0px;
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  width: 150px;
  justify-content: center;
}

.details {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* z-index: -5; */
  padding: 5px 15px;
  border-radius: 9px;
  margin: 55px 10px;
  /* height: 60vh; */
  /* width: 80%; */
}

.details2 {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* z-index: -5; */
  padding: 5px 15px;
  border-radius: 9px;
  margin: 55px 10px;
  /* height: 60vh; */
  /* width: 80%; */
}

.seller-info {
  margin: 4px 1px;
}

.seller-info label {
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  padding: 1px 2px;
}

input,
textarea {
  width: 80vb;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 9px;
  border: 1px solid cadetblue;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 14vb;
  max-width: 95vb;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.05rem;
}

.btn{
  display: flex;
}
#save-seller,#cancel-edit {
  /* display: flex; */
  /* flex-direction: row; */
  width: 15vb;
  font-size: 1.2rem;
  padding: 10px 5px;
  margin: 20px 8px;
  /* margin-bottom: 10px; */
  color: #849d88;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #231d37;
}

#save-seller:hover,#cancel-edit:hover{
  transform: scale(1.05);
  transition-duration: 200ms;
  background-color: #263c3d;
  color: #9bb17aeb;
}

#add-seller-form{
  display: flex;
  flex-direction: column;
}

.tablewrapper{
  display: flex;
  padding: 2px 5px;
}

#sellersTable{
  display: inline-block;
  /* padding: 2pxpx; */
  margin: 2px 10px;
  justify-content: space-around;
  align-items:center;
  width: 100%;
}

#sellersTable thead{
  display: flex;
    /* padding: 2px 2px;
    margin: 2px 2px; */
  width: 100%;
}

tbody{
  display: flex;
  flex-direction: column;
  /* padding: 2px 2px;
  margin: 2px 2px; */
  width: 100%;
}

.tablewrapper{
  width: 100%;
}

#sellersTable tr{
  display: flex;
  padding: 2px 5px;
  margin: 2px 10px;
  width: 100%;
}

#sellersTable td {
  display: flex;
  text-align: left;
  /* padding: 2px px; */
  margin: 0px 40px;
  width: 25%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.05rem;
}


#sellersTable th{
  /* display: flex; */
  /* flex-direction: column; */
  text-align: left;
  padding: 2px 25px;
  margin: 2px 25px;
  width: 25%;
  font-family: 'Mulish', sans-serif;
  font-size: 1.05rem;
}
body{
  /* overflow: hidden; */
}